<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 center>
        Facebook Auth Example
    </h3>

    <button ion-button center (click)="displayContacts()">
        Log In with Facebook
    </button>

    <ion-card *ngIf="userProfile">
        <img [src]="userProfile.photoURL" />
        <ion-card-content>
            <ion-card-title>
                {{ userProfile.displayName }}
            </ion-card-title>
            <p>
                The UID for this new user is {{userProfile.uid}} and the email is {{userProfile.email}}
            </p>
        </ion-card-content>
    </ion-card>

    <ion-list>
        <button ion-item *ngFor="let contactItem of contactItems" (click)="itemSelected(contactItem)">
            {{ contactItem }}
        </button>
    </ion-list>

    <ion-list>
        <ion-item class="text" *ngFor="let item of items | async">
            {{item.$value}}
        </ion-item>
    </ion-list>

</ion-content>